nav > ul{
  display: flex;
  justify-content: center;
}
nav>ul>li{
  list-style: none;
  margin-right:40px;
  
}
nav>ul>li:hover{
  background-color: aquamarine;
  
}
nav a{
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  color: black;

}